<configuration>

	<conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel"/>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${application.home:-.}/logs/application.log</file>
		<encoder>
			<pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%coloredLevel %logger{15} - %message%n%xException{10}</pattern>
		</encoder>
	</appender>

	<logger name="play" level="INFO"/>
	<logger name="com.avaje" level="WARN"/>
	<logger name="com.jolbox" level="WARN"/>
	<logger name="org.atmosphere.cpr" level="WARN"/>
	<logger name="ch.qos.logback" level="FATAL"/>
	<logger name="org.apache.sshd.common.io.nio2.Nio2Session" level="WARN"/>
	<logger name="org.apache.http" level="WARN"/>

	<root level="INFO">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="FILE"/>
	</root>

</configuration>